.header {
  width: 100%;
  height: 100%;
  .inner {
    max-width: $header-width-dsk;
    margin: 0 auto;
    padding: 30px 0;
    @include md {
      padding: 30px 20px;
    }
    .item {
      ul {
        li {
          padding-right: 40px;
          &:last-of-type {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.footer {
  background-color: $black;
  .inner {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;
    margin: 0 auto;
    @include md {
      padding: 40px;
    }
    @include sm {
      flex-direction: column;
    }
    .left {
      display: flex;
      @include md {
        flex-direction: column;
      }
      @include sm {
        padding-bottom: 60px;
      }
      .socials {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
        @include md {
          align-items: flex-start;
        }
        @include sm {
          margin-right: 0;
          align-items: center;
        }
        .logo {
          padding-top: 10px;
          padding-bottom: 80px;
          @include md {
            padding-bottom: 140px;
          }
          @include sm {
            padding-bottom: 30px;
          }
        }
        .social-links {
          display: flex;
          .social-link {
            padding-right: 20px;
            padding-bottom: 30px;
          }
        }
      }
      .menu-links {
        @include md {
          transform: translate(0, -170px);
        }
        @include sm {
          transform: translate(0, 0);
        }
        ul {
          @include md {
            display: flex;
          }
          @include sm {
            @include centreContent;
            flex-direction: column;
          }
          li {
            color: $white;
            padding-bottom: 20px;
            @include md {
              padding-bottom: 0;
              padding-right: 27px;
            }
            @include sm {
              padding-right: 0;
              padding-bottom: 20px;
            }
            a {
              &:hover {
                opacity: 0.6;
                color: inherit;
              }
            }
          }
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      color: $white;
      .btn-arrow {
        padding-bottom: 100px;
        display: flex;
        justify-content: flex-end;
        @include md {
          padding-bottom: 150px;
        }
        @include sm {
          padding-bottom: 20px;
          justify-content: center;
        }
        .heading-xsmall {
          padding-right: 20px;
        }
      }
      .copyright {
        @include md {
          transform: translate(0, -30px);
        }
        @include sm {
          transform: translate(0, 0);
        }
        p {
          opacity: 0.5;
        }
      }
    }
  }
}

.header-mb {
  .inner {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-links-mb {
  height: 100%;
  width: 100%;
  background-color: $white;
  position: relative;
  top: 0;
  display: none;
  z-index: 300;
  .nav-inner-mb {
    position: relative;
    padding: 30px 20px;
    ul {
      position: relative;
      margin-bottom: 20px;
      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: $black;
        opacity: 0.25;
      }
      li {
        list-style: none;
        text-align: center;
        line-height: 3em;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.5px;
      }
    }
    .btn-outer {
      .btn-black {
        width: 100%;
        .heading-xsmall {
          @include centreContent;
        }
      }
    }
  }
}

.activeNavMb {
  display: block;
}

.hamburger {
  position: relative;
  z-index: 200;
  width: calc(100% / 6);
  height: 100%;
}
.hamburger-nav {
  font: inherit;
  display: flex;
  overflow: visible;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;

  .nav-box {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 20px;

    .nav-inner,
    .nav-inner:before,
    .nav-inner:after {
      position: absolute;
      width: 25px;
      height: 3px;
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
      border-radius: 3px;
      background-color: #231f20;
    }
    .nav-inner {
      top: 2px;
      display: block;
      margin-top: -2px;
      &:before,
      &:after {
        display: block;
        content: "";
      }
      &:before {
        top: 8px;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform, opacity;
      }
      &:after {
        top: 16px;
        bottom: -10px;
        display: block;
        content: "";
      }
    }
  }
  &.active {
    .nav-inner {
      top: 0px;
      transform: translate3d(0, 10px, 0) rotate(45deg);
      &:before,
      &:after {
        background-color: #231f20;
      }
      &:before {
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0;
      }
      &:after {
        top: 20px;
        transform: translate3d(0, -20px, 0) rotate(-90deg);
      }
    }
  }
}
