.hero {
  .grid-container {
    display: grid;
    column-gap: 0; // this is default browser setting
    .copy-outer {
      height: 100%;
      width: 100%;
      .copy-inner {
        padding: 175px 0;
        max-width: 400px;
        margin: 0 auto;
        .heading-large {
          padding-bottom: 20px;
        }
        .copy {
          padding-bottom: 45px;
        }
        .btn-arrow {
          .heading-xsmall {
            padding-right: 30px;
          }
        }
      }
    }
    .img-outer {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.row-one {
      grid-template-columns: 1.5fr 2fr;
      .copy-outer {
        background-color: $black;
        .copy-inner {
          .heading-large,
          .copy {
            color: $white;
          }
          .copy {
            opacity: 0.6;
          }
          .btn-arrow {
            .heading-xsmall {
              color: $white;
            }
          }
        }
      }
      .img-outer {
        background-image: url("../assets/images/home/desktop/create-and-share.jpg");
      }
    }
    &.row-two {
      grid-template-columns: 2fr 1.5fr;
      .img-outer {
        background-image: url("../assets/images/home/desktop/beautiful-stories.jpg");
      }
    }
    &.row-three {
      grid-template-columns: 1.5fr 2fr;
      .img-outer {
        background-image: url("../assets/images/home/desktop/designed-for-everyone.jpg");
      }
    }
    &.row-four {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .tile {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        .copy-outer {
          position: relative;
          height: 100%;
          width: 100%;
          .copy-inner {
            padding: 460px 0 40px;
            .heading-small,
            .heading-xsmall,
            .btn-arrow span {
              text-transform: capitalize;
              color: $white;
            }
            .heading-small {
              padding-bottom: 10px;
            }
            .heading-xsmall {
              font-weight: 400;
              padding-bottom: 20px;
            }
            .author {
              &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: $white;
                opacity: 0.25;
                margin-top: 20px;
              }
            }
            .btn-arrow {
              justify-content: space-between;
              .arrow {
              }
            }
          }
        }
        &.tile-one {
          background-image: url("../assets/images/stories/desktop/mountains.jpg");
        }
        &.tile-two {
          background-image: url("../assets/images/stories/desktop/cityscapes.jpg");
        }
        &.tile-three {
          background-image: url("../assets/images/stories/desktop/18-days-voyage.jpg");
        }
        &.tile-four {
          background-image: url("../assets/images/stories/desktop/architecturals.jpg");
        }
      }
    }
  }

  .row-five {
    .inner {
      max-width: 1140px;
      padding: 120px 0;
      @include centreContent;
      .tile {
        max-width: 350px;
        min-height: 240px;
        padding-right: 30px;
        &:nth-of-type(3) {
          padding-right: 0;
        }
        .copy-outer {
          text-align: center;
          @include centreContent;
          flex-direction: column;
          img {
            // height: 100px;
            // width: 60px;
          }
          .heading-small {
            padding-top: 50px;
            padding-bottom: 20px;
            text-transform: capitalize;
          }
          .heading-second {
            padding-top: 80px;
          }
          p {
          }
        }
      }
    }
  }
}
