#features {
  .row-one {
    .copy-outer {
      &::before {
        content: "";
        display: block;
        background: linear-gradient(to bottom, #5a77ff, #bc7198, #ffc593);
        width: 6px;
        height: 144px;
        position: absolute;
        top: 32%;
      }
    }
    .img-outer {
      background-image: url("../assets/images/features/desktop/hero-features.jpg");
      @include md {
        background-image: url("../assets/images/features/tablet/hero-features-tablet.jpg");
      }
    }
  }
}

#features-tiles {
  .tiles-wrapper {
    .inner {
      padding: 160px 0;
      @include md {
        flex-direction: row;
        padding: 100px 0;
      }
      .tile {
        padding-bottom: 100px;
        @include md {
          padding-right: 20px;
          padding-bottom: 60px;
        }
        .copy-outer {
          .heading-second {
            padding-top: 90px;
          }
          .heading-third {
            padding-top: 30px;
          }
        }
      }
    }
  }
}

.invite-block {
  background: url("../assets/images/shared/desktop/bg-beta.jpg") no-repeat
    center center;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    display: block;
    background: linear-gradient(to bottom, #5a77ff, #bc7198, #ffc593);
    width: 6px;
    height: 144px;
    position: absolute;
    top: 32%;
    @include md {
      top: 27%;
    }
  }
  .inner {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    @include md {
      padding: 70px 40px;
    }
    .heading-block {
      max-width: 400px;
    }
  }
}

#pricing {
  .grid-container {
    .copy-outer {
      &::before {
        content: "";
        display: block;
        background: linear-gradient(to bottom, #5a77ff, #bc7198, #ffc593);
        width: 6px;
        height: 144px;
        position: absolute;
        top: 32%;
      }
    }
    .img-outer {
      background-image: url("../assets/images/pricing/desktop/hero.jpg");
      background-position: center top;
    }
  }
}

.pricing-tiles {
  max-height: 720px;
  @include md {
    max-height: 1540px;
  }
  &-monthly {
    &.inactive-monthly {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      height: 0;
    }
  }
  &-yearly {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.inactive-yearly {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      height: 0;
    }
    &.active-yearly {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      height: 100%;
    }
  }
  .inner {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    position: relative;
    .draggable-wrapper {
      padding-bottom: 81px;
      .inner {
        max-width: 256px;
        padding: 0;
        @include centreContent;
        flex-direction: row;
        p {
          font-size: 1.8rem;
          font-weight: 700;
          opacity: 0.5;
          &.active {
            opacity: 1;
          }
        }
        .slider-wrapper {
          width: 64px;
          height: 32px;
          background-color: $light-grey;
          border-radius: 16px;
          margin: 0 32px;
          &.active-bg {
            background-color: $black;
            transition: all 0.5s ease-in-out;
          }
          .inner-circle {
            width: 24px;
            height: 24px;
            background-color: $black;
            display: block;
            border-radius: 50%;
            position: relative;
            top: 5px;
            left: 5px;
            &.active-circle {
              transform: translateX(26px);
              background-color: $white;
              transition: all 0.5s ease-in-out;
            }
            &.inactive-circle {
              transform: translateX(0);
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
    .tiles-wrapper {
      display: flex;
      justify-content: space-between;
      @include md {
        flex-direction: column;
        padding: 0 40px;
      }
      .pricing-tile {
        position: relative;
        box-shadow: 5px 5px 14px 4px rgba(0, 0, 0, 0.42);
        @include md {
          margin-bottom: 40px;
        }
        &:hover {
          box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
            -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
            12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
            -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
        .inner {
          @include centreContent;
          flex-direction: column;
          padding: 56px 40px;
          text-align: center;
          .heading-medium {
            text-transform: capitalize;
            padding-bottom: 11px;
          }
          .description {
            padding-bottom: 40px;
          }
          .duration {
            padding-bottom: 40px;
          }
        }
        &-small {
          max-width: 350px;
          max-height: 407px;
          background-color: $grey;
          @include md {
            max-width: 100%;
          }
        }
        &-featured {
          max-width: 350px;
          max-height: 470px;
          background-color: $black;
          transform: translate(0, -33px);
          @include md {
            max-width: 100%;
            transform: translate(0, 0);
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            @include colorGradient;
            width: 100%;
            height: 6px;
          }
          .inner {
            padding: 90px 40px;
            color: $white;
            p {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}

.pricing-table {
  padding: 100px 0;
  @include md {
    padding: 100px 40px;
  }
  .heading-wrapper {
    @include centreContent;
    padding-bottom: 44px;
    .heading {
      font-size: 4rem;
    }
  }
  .table-wrapper {
    max-width: 730px;
    width: 100%;
    @include centreContent;
    .div-table {
      width: 100%;
    }
    .div-table-row {
      border-bottom: 1px solid $light-grey;
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      margin-bottom: 20px;

      &.row-one {
        border-bottom: 1px solid $black;
      }
    }
    .div-table-cell {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      text-align: left;
      font-size: 1.2rem;
      &.cell-one {
        min-width: 350px;
      }
      &.x-move {
        transform: translateX(-20px);
      }
      &.x-move-tablet {
        transform: translateX(-60px);
      }
    }
  }
}
