.bg-gradient {
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent
      linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.498039)) 0 0
      no-repeat padding-box;
    // background: #efefef 0% 0% no-repeat padding-box;
    background: transparent
      linear-gradient(180deg, #00000000 0%, #000000a9 100%) 0% 0% no-repeat
      padding-box;
  }
}

@mixin centreContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
